/* STYLES */
* {
    margin: 0;
    padding: 0;
}

.table {
    margin-top: 1em;
}

pre , pre code.hljs{
    margin: 0 !important;
}

code {
    background: #F1F1F1 !important;
    margin: 0.3em 0 !important;
    border-radius: 4px;
    padding: 0 !important;
}

code.short-code, code.long-code{
    padding: 0.2em 0.8em !important;
    font-size: 0.875em;
    color: #d63384;
    word-wrap: break-word;
}

code.long-code {
    display: block;
}

q {
    font-style: normal; 
    text-decoration: none;
    font-family: var(--bs-font-monospace);
    quotes: none; 
    color: #30336b;
}

input#searchBox {
    display: block;
    width: 97%;
    margin: 0.2em auto;
    padding: 0 0.4em; 
    box-sizing: border-box;
    height: 2.5em; 
    line-height: 2.5em;
}

input:focus {
    border: 1px solid #333 !important;
    box-shadow: none;
}

#cleanSearchBoxButton {
    position: absolute; 
    top: 0.45em; 
    right: 0.5em;
    width: 2em;
    height: 2em; 
    line-height: 2em;
    text-align: center;
    display: none;
}